<launch>
  <arg name="enable_spacemouse" default="false" />
  <arg name="enable_camera" default="true" />
  <arg name="spacemouse_config" default="$(find panda_spacemouse_teleop)/config/teleop.yaml" />
  <arg name="spacemouse_twist_topic" default="/cartesian_velocity_example_controller/command" />

  <include if="$(arg enable_camera)" file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="color_width" value="640" />
    <arg name="color_height" value="480" />
    <arg name="color_fps" value="15" />
    <arg name="enable_depth" value="true" />
    <arg name="depth_width" value="640" />
    <arg name="depth_height" value="480" />
  </include>


  <include file="$(find franka_control)/launch/franka_control.launch" pass_all_args="true">
    <arg name="robot_ip" value="172.16.0.2" />
  </include>

  <!-- Optional SpaceMouse teleop integration for the real robot setup. -->
  <rosparam if="$(arg enable_spacemouse)" param="/cartesian_velocity_example_controller/type">franka_example_controllers/CartesianVelocityExampleController</rosparam>
  <rosparam if="$(arg enable_spacemouse)" param="/cartesian_velocity_example_controller/arm_id">panda</rosparam>
  <rosparam if="$(arg enable_spacemouse)" param="/cartesian_velocity_example_controller/joint_names">[panda_joint1, panda_joint2, panda_joint3, panda_joint4, panda_joint5, panda_joint6, panda_joint7]</rosparam>

  <node if="$(arg enable_spacemouse)"
        pkg="controller_manager"
        type="spawner"
        name="cartesian_velocity_example_controller_spawner"
        args="cartesian_velocity_example_controller"
        output="screen" />

  <include if="$(arg enable_spacemouse)" file="$(find panda_spacemouse_teleop)/launch/spacemouse_teleop.launch">
    <arg name="config" value="$(arg spacemouse_config)" />
    <arg name="twist_topic" value="$(arg spacemouse_twist_topic)" />
  </include>
</launch>
